* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../components/assets/bg-mid-3.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  