html {
    background-color: #f8d87c;
    height: 100vh;
}
/* Header css */
header {
    width: 100%;
    position: sticky;
    font-family: Helvetica;
    color: white;
    text-align: center;
    border: 2px solid gray;
    background-color: gray;
}
header h1 {
    font-family: Helvetica;
    color: white;
    text-align: center;
}
/* Section */

#boxes {
    display: grid;
    grid-template-columns: 2;
    gap: 75px;
    grid-template-rows: 2;
    height: 75vh;
}

.box {
    background-color: gray;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    width: 90%;
}
#fit_chart {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    font-family:'Trebuchet MS', sans-serif;
    color: white;
}
#matches {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    font-family:'Trebuchet MS', sans-serif;
    color: white;
}
#improvements {
    grid-column: 2;
    grid-row: 1 / 2;
    height: 200%;
    font-family:'Trebuchet MS', sans-serif;
    color: white;
}
/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family:'Trebuchet MS', sans-serif;
    text-align: center;
}

footer #return {
    position: absolute;
    top: 15%;
    left: 1%;
    border-radius: 5px;
    padding: 15px;
    background-color: gray;
    font-family:'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}